.item-container {
    border: white 1px solid; 
    border-radius: 10px; 
    overflow-y: scroll; 
    height: 300px;
    cursor: pointer;
}

.item-container:hover {
    opacity: .9;
}

.item-info {
    border: 1px white solid; 
    border-radius: 10px;
}

.white-text {
    color: white;
}

.invalid {
    color: red;
}