<div class="form-row justify-content-md-center px-4 mt-4">
        <div class="col-10 col-md-6 form-group">
                <input type="text" 
                       class="form-control" 
                       id="search"
                       aria-label="search"
                       placeholder="Search for items..."
                       [(ngModel)]="searchWord"
                       >
                <div *ngIf="invalidSearch">
                    <p class="invalid">You must enter a search value.</p>
                </div> 
            </div>
            <div class="col-1">
                    <button class="btn btn-success" (click)="onSearch()">Search</button>
            </div>
    
</div>
<div class="row justify-content-md-center"> 
    <div *ngFor="let item of listing" 
         class="col-md-5 px-4 my-2 mx-1 bg-dark item-container"
         (click)="goToItemPage(item.url)">
        <div class="sticky-top p-2 bg-dark">
            <h5 class="white-text">Price: {{item.price.toFixed(5)}} BTC</h5>
        </div>
        <div class="p-2 mb-3 bg-white item-info">
            <h2>{{item.title}}</h2>
            <hr>
            <h4>Description: </h4>
            <p>{{item.description}}</p>
        </div>
        
    </div>
</div>